In [2]:
import pandas as pd
import numpy as np

# view and import the data set

In [4]:
df=pd.read_csv("C:/Users/admin/Downloads/14.FDNY.csv")

In [5]:
df

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

# analysis the datset

In [7]:
df.head(5)

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FacilityName     219 non-null    object
 1   FacilityAddress  219 non-null    object
 2   Borough          219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [16]:
df.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=219, step=1)

In [23]:
records =df.count()
print(records)

FacilityName       219
FacilityAddress    219
Borough            219
dtype: int64

In [29]:
df.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

# find the total number of fire department facilites in new york

In [31]:
import pandas as pd

# Assuming you have a DataFrame named 'df' that contains your data
total_fire_departments = df['FacilityName'].nunique()

print(f'Total number of fire department facilities in New York City: {total_fire_departments}')

Total number of fire department facilities in New York City: 219

# find the total number of fire department facilites in borough

In [49]:
info=df.groupby('Borough').count()
print(info)

               FacilityName  FacilityAddress
Borough
Borough                   1                1
Bronx                    34               34
Brooklyn                 66               66
Manhattan                48               48
Queens                   50               50
Staten Island            20               20

In [62]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

# find the total number of fire department facilites in manhattam

In [65]:
info=df[df['Borough']=='Manhattan']
print(info)

                                         FacilityName  \
1                                  Engine 4/Ladder 15
2                                 Engine 10/Ladder 10
3                                            Engine 6
4   Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
5                                            Ladder 8
6                                   Engine 9/Ladder 6
7                     Engine 15/Ladder 18/Battalion 4
8                                 Engine 28/Ladder 11
9                                            Engine 5
10                                          Engine 55
11                               Ladder 20/Division 1
12                     Engine 24/Ladder 5/Battalion 2
13                                 Engine 33/Ladder 9
14                               Ladder 3/Battalion 6
15                                           Squad 18
16                                Engine 34/Ladder 21
17                                          Engine 26
18                     Engine 3/Ladder 12/Battalion 7
19                                 Engine 1/Ladder 24
20                                          Engine 14
21                              Engine 16 / Ladder 7
22                                          Engine 21
23                     Engine 54/Ladder 4/Battalion 9
24                                          Engine 23
25                                           Rescue 1
26                                Engine 40/Ladder 35
27             Ladder 25/District Office 4/Division 3
28                                          Engine 74
29                                          Engine 65
30                  Engine 8 / Ladder 2 / Battalion 8
31                                Engine 39/Ladder 16
32                                          Engine 44
33                   Engine 22/Ladder 13/Battalion 10
34                                Engine 58/Ladder 26
35                                Engine 53/Ladder 43
36                                          Engine 91
37                                Engine 35/Ladder 14
38                   Engine 76/Ladder 22/Battalion 11
39                                          Engine 47
40                                Engine 59/Ladder 30
41                                Engine 37/Ladder 40
42                   Engine 69/Ladder 28/Battalion 16
43                                Engine 80/Ladder 23
44                                Engine 84/Ladder 34
45                                          Engine 67
46                   Engine 93/Ladder 45/Battalion 13
47                                Engine 95/Ladder 36
48                                           Marine 1

                         FacilityAddress    Borough
1                        42 South Street  Manhattan
2                     124 Liberty Street  Manhattan
3                      49 Beekman Street  Manhattan
4                   100-104 Duane Street  Manhattan
5                  14 North Moore Street  Manhattan
6                        75 Canal Street  Manhattan
7                         25 Pitt Street  Manhattan
8                    222 East 2nd Street  Manhattan
9                   340 East 14th Street  Manhattan
10                     363 Broome Street  Manhattan
11                  253 Lafayette Street  Manhattan
12                     227-29 6th Avenue  Manhattan
13                 42 Great Jones Street  Manhattan
14                  108 East 13th Street  Manhattan
15                  132 West 10th Street  Manhattan
16                  440 West 38th Street  Manhattan
17                  220 West 37th Street  Manhattan
18                  150 West 19th Street  Manhattan
19               142-46 West 31st Street  Manhattan
20                   14 East 18th Street  Manhattan
21                  234 East 29th Street  Manhattan
22                  238 East 40th Street  Manhattan
23                        782 8th Avenue  Manhattan
24                  215 West 58th Street  Manhattan
25                  530 West 43rd Street  Manhattan
26                131 Amsterdam Avenue    Manhattan
27              205-207 West 77th Street  Manhattan
28                 120 West 83rd Street   Manhattan
29                   33 West 43rd Street  Manhattan
30                  167 East 51st Street  Manhattan
31               157-59 East 67th Street  Manhattan
32                  221 East 75th Street  Manhattan
33                  159 East 85th Street  Manhattan
34                       1367 5th Avenue  Manhattan
35                   1836-46 3rd  Avenue  Manhattan
36                 242 East 111th Street  Manhattan
37                       2282 3rd Avenue  Manhattan
38              145-51 West 100th Street  Manhattan
39                 502 West 113th Street  Manhattan
40                 111 West 133rd Street  Manhattan
41                 415 West 125th Street  Manhattan
42                 248 West 143rd Street  Manhattan
43                 503 West 139th Street  Manhattan
44                 513 West 161st Street  Manhattan
45                 518 West 170th Street  Manhattan
46                 515 West 181st Street  Manhattan
47                   29 Vermilyea Avenue  Manhattan
48  Little West 12th Street/Hudson River  Manhattan